* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #2865a7;
    color: white;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto; 
    width: 99%; 
    border-radius: 3px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.header span {
    font-size: 1.6em;
}

.header .logout {
    background-color: #ff4747;
    color: white;
    border: none;
    padding: 12px 25px; 
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px; 
}

.header .logout:hover {
    background-color: #e63b3b;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.content {
    padding: 20px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px; 
    width: 98%;
    max-width: 950px; 
   
}

.content h1 {
    color: #2865a7;
    font-size: 2.2em; 
    margin-bottom: 25px; 
}

.content h2 {
    margin-top: 25px; 
    color: #2865a7;
    font-size: 1.8em; 
}

#expenses-list div {
    padding: 12px; 
    background-color: #f1f1f1;
    margin-bottom: 12px; 
    border-radius: 8px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 12px); 
    padding: 12px;
    margin: 12px 0;     
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 1.1em; 
}

.expense {
    background-color: #2865a7;
    color: white;
    border: none;
    padding: 14px 25px; 
    border-radius: 8px;
    font-size: 1.1em; 
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background-color: #1f4a76;
}

#expense-details {
    margin-top: 35px; 
    padding: 25px; 
    background-color: #f1f1f1;
    border-radius: 8px;
}

#settle {
    background-color: #2865a7;
}

#username-display {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em; 
}

.add-participant {
    background-color: rgb(61, 57, 57);
    color: white;
    border: none;
    padding: 8px 15px; 
    border-radius: 8px; 
    cursor: pointer;
}

.add-participant:hover {
    background-color: grey;
}